.main {
	width: 1024px;
	margin: 0 auto;
}
.logo {
	display: block;
	width: 150px;
	margin: 10px auto 0 auto;
}
.category-menu.ant-menu{
	line-height: 32px;
}
.category-menu .ant-menu-item {
	width: 122px;
}
.log-reg-btn {
	margin-top: 10px;
}